doctype html
html(lang="ko")
    head
        title Fish
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body(style= "background: rgb(105,153,227)")
        span  #{fishName}
        
    include partials/footer.pug