doctype html
html(lang="ko" style = "color: rgb(105,153,227)")
    head(style = "color: rgb(105,153,227)") 
        
        title Fish
        
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        meta(name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width")/
        
    body(style= "background: rgb(105,153,227); border-color: rgb(105,153,227) " )
        div(style= "border-color: rgb(105,153,227)")
            form(action="api"  method="post" enctype="multipart/form-data" style="text-align:center;  border: none ; border-color: rgb(105,153,227)"  )
                input(type="file" id="file" name="file" style= "display: block; margin: 0 auto; color:white ;" class="file")
                
                input(type="submit" value="사진 전송" style="background: rgb(163,213,251); border-color: rgb(105,153,227); border-radius: 15px" )

        script(src='./app.js' type="text/html")

        
       
